# Regresión Logistica

In [172]:
import pandas as pd 
import numpy as np

In [173]:
df = pd.read_csv('wine_data.csv')

In [174]:
pip install sklearn

Requirement already satisfied: sklearn in ./venv/lib/python3.7/site-packages (0.0)
Requirement already satisfied: scikit-learn in ./venv/lib/python3.7/site-packages (from sklearn) (0.24.1)
Requirement already satisfied: numpy>=1.13.3 in ./venv/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.20.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./venv/lib/python3.7/site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in ./venv/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.6.2)
Requirement already satisfied: joblib>=0.11 in ./venv/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [175]:
df.head(3)

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480

In [176]:
df.columns

Index(['1', '14.23', '1.71', '2.43', '15.6', '127', '2.8', '3.06', '.28',
       '2.29', '5.64', '1.04', '3.92', '1065'],
      dtype='object')

In [177]:
df['cons'] = 1

Nuestra regresión logística es binaria, por la cual debemos de crear 3 data sets, una para el tipo 1, otro para el 2 y el ultimo para el 3, para que nos digan si es o no es en cada uno de ellos.

In [178]:
df_1 = df.replace({'1' : { 2 : 0, 3 : 0}})
df_2 = df.replace({'1' : { 1 : 0, 3 : 0}})
df_3 = df.replace({'1' : { 1 : 0, 2 : 0}})

# Armando Funciones de regresion logística

In [269]:
def sigmoide(X, theta):
    z = np.dot(theta, X.T)
    return 1/(1+np.exp(-(z))) - 0.0000001

In [224]:
def cost(X, y, theta):
    y1 = sigmoide(X, theta)
    return -(1/len(X)) * np.sum(y*np.log(y1) + (1-y)*np.log(1-y1))

In [241]:
def gradient_descent(
X,y,theta_0,sigmoide,cost,
    learning_rate = 0.0001, threshold=0.001, max_iter=10000): 
    
    theta = theta_0
    iteration = 0 
    costs = []
    thetas = []
    
    while np.linalg.norm(cost(X,y,theta)) > threshold and iteration < max_iter:
        iteration += 1 
        theta = theta - (learning_rate * cost(X,y,theta))
        costs.append(sigmoide(X,theta))
        thetas.append(theta.copy())
        
    return theta, costs, thetas

Estas serian las funciones que utilizaremos para la creación de nuestros modelos

# Modelo para 1

In [242]:
X_1_ = df_1.drop(['1'], axis = 1)
y_1_ = df_1['1']

In [243]:
X_1_.columns

Index(['14.23', '1.71', '2.43', '15.6', '127', '2.8', '3.06', '.28', '2.29',
       '5.64', '1.04', '3.92', '1065', 'cons'],
      dtype='object')

In [244]:
X_1 = X_1_.to_numpy()
y_1 = y_1_.to_numpy()

In [245]:
np.random.shuffle(X_1)
np.random.shuffle(y_1)
X1_train = X_1[:106]
X1_cv = X_1[106:141]
X1_test = X_1[142:177]
y1_train = y_1[:106]
y1_cv = y_1[106:141]
y1_test = y_1[142:177]

In [246]:
print(X1_train.shape,X1_cv.shape,X1_test.shape)
print(y1_train.shape,y1_cv.shape,y1_test.shape)

(106, 14) (35, 14) (35, 14)
(106,) (35,) (35,)

In [247]:
m, n = X_1_.shape
theta_0 = np.random.rand(n,1)

In [267]:
theta

array([[ 0.95105344],
       [ 0.58810198],
       [ 0.04191167],
       [-0.0079683 ],
       [ 0.25143962],
       [ 0.17314741],
       [ 0.49056061],
       [ 0.26060409],
       [ 0.97962255],
       [ 0.76447957],
       [ 0.43922932],
       [ 0.61950467],
       [ 0.47435861],
       [ 0.35811137]])

In [268]:
costs[len(costs)-1]

array([[0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999,
        0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999,
        0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999,
        0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999,
        0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999,
        0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999,
        0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999,
        0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999,
        0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999,
        0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999,
        0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999,
        0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999,
        0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999,
        0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999,
        0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999,
        0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999,
        0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999, 0.9999999,
        0.9999999, 0.9999999, 0.9999999, 0.9999999]])